{% extends 'base.twig' %} 
{% block title %} {{ parent() }} | Mi Perfil
{% endblock %}
{% block body %}
<div class="ficha">
    <h2 class="titulo-primario">{{app.user.usuario}}</h2>
    <h4>{{app.user.email}}</h4>
    <h5 class="text-center titulo-primario">Mi lista</h5>
    <div class="offset-3 col-6">

        <div class="row">
        {% for media in medias %}
                <a href="{{ path('verMedia', { id: media.id })}}" class="text-decoration-none text-reset">
                    <div class="row obj obj-{{media.idTipoMedia}}">
                        <div class="col-3"><img class="img-ficha" src = {{media.urlImagen}}></img></div>
                        <div class="col-9"><h5 class="text-center ">{{ media.titulo }}</h5></div>
                    </div>
                </a>  
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}