{% extends 'base.twig' %} 
{% block title %}
     {{ parent() }} | Buscador
{% endblock %}
{% block body %}
    <div class="mt-2">
        <div class="text-center">
            <h4 class=" my-4 titulo-{{ tiposMedias[medias[0].idTipoMedia]|lower}}">{{ medias|length }} Resultados</h4>
        </div>
    </div>
    {% for media in medias %}

        <a href="{{ path('verMedia', { id: media.id })}}" class="text-decoration-none text-reset">
            <div class="offset-lg-2 mt-2 col-lg-8 col-12">
                <div class="row obj obj-{{media.idTipoMedia}}">

                    <div class="col-2"><img class="img-ficha" src = {{media.urlImagen}}></img></div>
                    <div class="col-10">
                        <h5 class="titulo-{{ tiposMedias[media.idTipoMedia]|lower }}">{{ media.titulo }}</h5>
                        <p>{{ media.tituloOriginal }}</p>
                        <p>{{ media.fechaEstreno|date('d/m/Y') }}</p>
                        <div>{{ media.descripcion }}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
{% block scripts %}
<script>
    
</script>
{% endblock %}