{% extends 'base.twig' %} 
{% block title %}
     {{ parent() }} | {{ media.Titulo }}
{% endblock %}
{% block body %}
    <div class="offset-2 mt-2 col-8">
        <div class="row obj obj-{{media.idTipoMedia}}">

            <div class="col-2"><img class="img-ficha" src = {{media.urlImagen}}></img></div>
            <div class="col-10">
                <h5 class="titulo-{{ tipoMedia.tipoMedia|lower }}">{{ media.titulo }}</h5>
                <p>{{ media.tituloOriginal }}</p>
                <div>{{ media.descripcion }}</div>
                <br>
                <br>
                <p class="titulo-{{ tipoMedia.tipoMedia|lower }}"> {{ tipoMedia.tipoMedia }} </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('editarMedia', { id: media.id })}}" class="btn btn-primario">Editar datos</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('guardarMedia', { idMedia: media.id, idUsuario: app.user.id })}}" class="btn btn-primario"> Añadir a mi lista</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}