<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gria{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha256-fx038NkLY4U1TCrBDiu5FWPEa9eiZu01EiLryshJbCo=" crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-primario">
            <div class="container-fluid">
                <!-- Botón de offcanvas para abrir el sidebar -->
                <a  data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <i class="bi bi-x-diamond-fill icono-primario"></i>
                </a>
                <a class="navbar-brand ms-3 titulo-primario" href="{{ path('app_home_index') }}">
                    Gria
                </a>
                <div class="col-6">
                    <div class=" input-group">
                    <input class="form-control color-primario" id="buscador" placeholder="Busca un producto...">
                    <a class="btn btn-primario" id="btnBuscar">Buscar</a>
                </div>
                </div>
                <!-- Botón de inicio de sesión alineado a la derecha -->
                <div class=" ms-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('UsuarioPerfil') }}" class="text-decoration-none text-reset titulo-primario">{{ app.user.usuario }}</a>
                        <a class="btn btn-primario" href="{{ path('app_logout') }}">Cerrar sesión</a>
                    {% else %}
                        <a class="btn btn-primario" href="{{ path('app_login') }}">Iniciar sesión</a>
                        <a class="btn btn-primario  ms-auto" href="{{ path('app_register') }}">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start offcanvas-primario" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title titulo-primario" id="offcanvasSidebarLabel">Menú</h5>
                <a data-bs-dismiss="offcanvas"><i class="bi bi-arrow-bar-left icono-primario"></i></a>
            </div>
            <div class="offcanvas-body">
                <!-- Enlaces de navegación dentro del sidebar -->
                <ul class="nav flex-column">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link active enlace-primario" href="{{ path('UsuarioPerfil') }}">Mi perfil  <i class="bi bi-person-circle"></i></a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active enlace-primario" aria-current="page" href="{{ path('app_home_index') }}">Inicio  <i class="bi bi-house-fill"></i></a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="list-group-item">
                        <a href="#" class="nav-link active enlace-primario" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false" aria-controls="submenu1">
                            Gestión <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="collapse mt-2" id="submenu1">
                            <li class="list-group-item">
                                <a href="{{ path('nuevaMedia') }}" class="nav-link active enlace-primario">
                                    Nueva Media <i class="bi bi-plus"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('nuevoTipoAporte') }}" class="nav-link active enlace-primario">
                                    Nuevo Tipo de Aporte <i class="bi bi-plus"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('nuevoTipoMedia') }}" class="nav-link active enlace-primario">
                                    Nuevo Tipo de Media <i class="bi bi-plus"></i>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('nuevoGenero') }}" class="nav-link active enlace-primario">
                                    Nuevo Género <i class="bi bi-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active enlace-primario" href="{{ path('buscarPorTipoMedia', { idTipoMedia: 1 })}}" class="text-decoration-none text-reset">Videojuegos <i class="bi bi-dpad-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active enlace-primario" href="{{ path('buscarPorTipoMedia', { idTipoMedia: 2 })}}" class="text-decoration-none text-reset">Series <i class="bi bi-tv-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active enlace-primario" href="{{ path('buscarPorTipoMedia', { idTipoMedia: 3 })}}" class="text-decoration-none text-reset">Peliculas <i class="bi bi-film"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active enlace-primario" href="{{ path('buscarPorTipoMedia', { idTipoMedia: 4 })}}" class="text-decoration-none text-reset">Libros <i class="bi bi-book-fill"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid">

        {% block body %}{% endblock %}
        </div>
        <footer class="bg-dark text-light py-4" style="margin-top: 920px;">
            <div class="container">
                <div class="row">
                    <!-- Acerca de -->
                    <div class="col-md-4">
                        <h5>Acerca de Gria</h5>
                        <p>Somos un grupo que busca crear una comunidad que comparta los productos que consume y su opinión sobre ellos sin buscar calificar los productos.</p>
                        <p>Nuestra filosofía es que todos los productos y todas las personas son diferentes entre ellos y los primeros resuenan de manera diferente en los segundos, por lo que no tiene sentido dar una puntuación númerica, si alguien quiere basar su opinión en la de los demás que lea lo que otros tienen que decir. </p>
                    </div>
                    
                    <!-- Servicios -->
                    <div class="col-md-4">
                        <h5>Servicios e información</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light text-decoration-none">Soporte Técnico</a></li>
                        </ul>
                        <p>Gria jamás compartirá información personal con otras entidades y encriptará la información sensible. Todos los datos que guardará serán única y exclusivamente para mejorar el serivicio proporcionado.</p>
                        <p>En el caso de que haya alguna violación de seguridad nos comprometemos a avisar a las autoridades pertinentes y a los usuarios a la mayor brevedad</p>
                    </div>
                    
                    <!-- Contacto y Redes Sociales -->
                    <div class="col-md-4">
                        <h5>Contacto</h5>
                        <p>Email: contacto@Gria.com</p>
                        <p>Teléfono: +34 123 456 789</p>
                        
                        <h5>Síguenos (todavía no tenemos redes sociales)</h5>
                        <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                
                <!-- Copyright -->
                <div class="text-center mt-4">
                    <p class="mb-0">&copy; 2024 Gria. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnBuscar").click(function (){
        let enlace = "{{path('buscar',{titulo:'busqueda'})}}";
        enlace = enlace.replace('busqueda',$("#buscador").val());
        window.open(enlace, '_self');
    });
    
    var offcanvasElementList = [].slice.call(document.querySelectorAll('.offcanvas'))
    var offcanvasList = offcanvasElementList.map(function (offcanvasEl) {
    return new bootstrap.Offcanvas(offcanvasEl)
    })
</script>
{% block scripts %}
{% endblock %}