{% extends 'base.twig' %} 
{% block title %} {{ parent() }} | Nueva Media
{% endblock %}
{% block body %}
<div class="row">
    {% if id == 0 %}
    <div class="col-7 offset-1 ficha">
        <h2 class="titulo-primario">Añadir via api</h2>
        <label for="tituloAdd">Titulo a añadir</label>
        <div class="input-group">
        
        <input type="text" class="form-control" id="tituloAdd"><a class="btn btn-primario" id="btnAddApi">Añadir</a>
        </div>
    </div>
    {% endif %}
    <div class="col-7 offset-1 ficha">
            {% if id == 0 %}
                <h2 class="titulo-primario">Añadir manualmente</h2>
            {% else %}
            <div class="row">
                <div class="col-6">
                    <h2 class="titulo-primario">Editar información</h2>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-danger" id="btnEliminarMedia" href="{{ path('eliminarMediaDB', {id : id }) }}">Eliminar</a>
                </div>
            </div>
            {% endif %}
        {{ form(form)}}
    </div>
    {% if id != 0 %}
        <div class="col-3 ms-4 ficha">
            <h2 class="titulo-primario">Géneros</h2>
            <div class="text-end"><a class="btn btn-sm btn-primario" href="{{ path('nuevoGenero')}}"> Añadir género</a></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Género</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            {% for genero in generos %}
            <tr>
                <td><a class="text-decoration-none titulo-primario" href="{{ path('editarGenero', { id: genero.id })}}">{{ genero.genero }}</a></td>
                <td>
                    {% if genero.id in generosMedia %}
                        <a class="btn btn-sm btn-danger btnEliminarGenero" data-id="{{genero.id}}"> Eliminar</a>
                    {% else %}
                        <a class="btn btn-sm btn-primario btnAddGenero" data-id="{{genero.id}}"> Añadir</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#btnAddApi").click(function (){
        let enlace = "{{path('apiSeriePelicula',{titulo:'busqueda'})}}";
        enlace = enlace.replace('busqueda',$("#tituloAdd").val());
        window.open(enlace, '_self');
    });

    $(".btnAddGenero").click(function (){
        const btnAddGenero = $(this)
        guardarGenero(btnAddGenero);
    });

    $(".btnEliminarGenero").click(function (){
        const btnEliminarGenero = $(this);
        eliminarGenero(btnEliminarGenero);
    });

    function eliminarGenero(btnEliminarGenero){
        $.ajax({
            url: '{{ path("eliminarGeneroMedia") }}',
            type: 'POST',
            data: { 
                idMedia: '{{ id }}',
                idGenero: btnEliminarGenero.data('id'),
            },
            success: function(response) {
                if (response.status === 'success') {
                    btnEliminarGenero.removeClass('btnEliminarGenero');
                    btnEliminarGenero.removeClass('btn-danger');
                    btnEliminarGenero.addClass('btnAddGenero');
                    btnEliminarGenero.addClass('btn-primario');
                    btnEliminarGenero.text('Añadir');
                    btnEliminarGenero.click(function(){
                        guardarGenero(btnEliminarGenero);
                    });
                }else{
                    alert('Error al eliminar genero');
                }
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
        });
    }

    function guardarGenero(btnAddGenero){
        $.ajax({
            url: '{{ path("addGeneroMedia") }}',
            type: 'POST',
            data: { 
                idMedia: '{{ id }}',
                idGenero: btnAddGenero.data('id'),
            },
            success: function(response) {
                if (response.status === 'success') {
                    btnAddGenero.removeClass('btnAddGenero');
                    btnAddGenero.removeClass('btn-primario');
                    btnAddGenero.addClass('btnEliminarGenero');
                    btnAddGenero.addClass('btn-danger');
                    btnAddGenero.text('Eliminar');
                    btnAddGenero.click(function(){
                        eliminarGenero(btnAddGenero);
                    });
                }else{
                    alert('Error al guardar genero');
                }
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
        });
    }

</script>
{% endblock %}